.wrapper {
  //   margin: 0 2px;
  height: 100%;
  width: 100%;
}

.CD_dataInput {
  float: left;
  width: 178px;
  height: 105.2px;
  table-layout: fixed;
  max-height: 100%;
}

.table__body {
  height: 100%;
}

.table__tr {
  height: 16.6667%;
  width: 100%;
}

.table__td {
  width: 11.1111%;
  position: relative;
  background-color: #484848;
  border-bottom: 1px solid #535353;
  border-right: 1px solid #535353;
}

.ba_AT_box {
  //   position: static;
  //   width: 17px;
  //   height: 14.5px;
  overflow: hidden;
}

.ba_ATBall_bigT {
  font-size: 15px;
  text-align: center;
  //   line-height: 17px;

  &::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
