.wrapper {
  //   margin: 0 2px;
  // height: 100%;
  // width: 100%;
}

.CD_dataInput {
  float: left;
  width: 182px;
  height: 107px;
  table-layout: fixed;
}

.table__body {
  // height: 100%;
}

.table__tr {
  // height: 16.6667%;
  // width: 100%;
}

.table__td {
  position: relative;
  background-color: #484848;
  border-bottom: 1px solid #535353;
  border-right: 1px solid #535353;
  width: 18px;
  height: 16px;
}

.ba_AT_box {
  //   position: static;
  //   width: 17px;
  //   height: 14.5px;
  overflow: hidden;
}

.ba_ATred_bigT,
.ba_ATBall_bigT {
  font-size: 15px;
  text-align: center;
  font-weight: bold;

  &::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.ba_ATred_bigT {
  color: #ee4238;
}

.ba_ATBall_bigT {
  color: #3377f2;
}
