.wrapper {
  position: absolute;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  top: 407px;
  right: 146px;

  &--active {
    display: block;
  }

  &__box {
    position: relative;
    width: 240px;
    height: 90px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }

  &__body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 190px;
    height: 40px;
    display: flex;
    align-items: center;

    &--image {
      //   float: left;
      margin-right: 10px;
      width: 36px;
      height: 36px;
    }
  }
}
