.iframe_container {
  height: 100%;
  width: 100%;
  /* height: 720px; */
  /* width: 1280.9px; */
  // overflow: scroll;
  border: none;
  visibility: visible;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform-origin: 0px 100% 0px;
  opacity: 1;
  overflow: hidden !important;
}

.live_wrapper {
  background-color: black;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // height: calc(75vh - 4px);
  height: 100%;
}

.live_container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.live_action {
  position: absolute;
  width: 100%;
  height: 344px;
  bottom: 0;
  left: 0;
  perspective: 3000px;

  display: flex;
  flex-direction: column;
  gap: 0px;
  &__control {
    // background-color: red;
    height: 50px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--left {
      display: flex;
      gap: 10px;
      align-items: center;
      button {
        padding: 4px 12px;
        width: 70px;
        background-color: #ccc;
        border-radius: 5px;
        &.btn-primary {
          background-color: #434343;
          font-size: 14px;
          color: #959595;
        }

        &.active {
          color: white;
          background-color: #3678b7;
        }
      }

      &__cuoc {
        color: #ccc;
      }
      &__value {
        color: yellow;
      }
    }
    &--right {
      display: flex;
    }
  }
}
.d3 {
  margin: 1px auto;
  margin-bottom: -48px;
  width: 86%;
  box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4509803922);
  transition: all 0.5s;
  transform: rotateX(50deg);
  transform-style: flat;
  display: flex;
  height: 69%;

  &__col {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    &__row {
      &--1 {
        border-width: 1.6px; // Độ dày của viền là 2px
        border-color: #737b9a;
        border-style: solid;
        height: 90px;
      }
      &--2 {
        border-width: 1.6px; // Độ dày của viền là 2px
        border-color: #737b9a;
        border-style: solid;
        height: 135px;
      }
    }
  }
}

.right__action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  gap: 10px;
  &__phinh {
    width: 30px;
    height: 24px;
  }
  &__auto {
    width: 30px;
    height: 24px;
  }
}

.right__action {
  position: relative;
  margin-right: 130px;
}

.right__action__auto,
.right__action__phinh {
  position: absolute;
  background-image: url(/Content/images/vn/json/bettingButtons.png);
  background-repeat: no-repeat;
  background-position: -44px -339px;
  width: 50px;
  height: 31px;
  background-size: 200%;
  right: -43px;

  &:hover {
    background-position: 0px -101px;
    background-size: 170%;
  }
}

.right__action__auto {
  background-position: 0px -380px;
  right: -100px;

  &:hover {
    background-position: 0px -61px;
    background-size: 170%;
  }
}

.phing_wrapper {
  position: absolute;
  bottom: 150%;
  display: flex;
  width: 421px;
  padding: 10px 0 5px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  right: -60px;
  z-index: 1;
  overflow: hidden;
}

.body__chips {
  &--item {
    width: 64px;
    height: 54px;
  }
}

.body__confirm {
  width: 145px;
  height: 215px;
  border-left: 1px solid #2c3150;

  &::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  &--cancel {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    background-image: url(/Content/images/icon_depart.svg);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
  }

  &--text {
    display: table;
    font-size: 16px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    margin-top: 63px;
  }

  &--icon {
    width: 20px;
    height: 20px;
    background-image: url(/Content/images/img_chipHint.svg);
    background-size: 90% auto;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block !important;
    margin: 0 0 0 6px !important;
    position: relative;
    bottom: -4px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-align: center;
  }

  &--btn {
    width: 115px;
    height: 40px;
    border-radius: 3px;
    background-color: #3678b7;
    margin: 0 auto;
    margin-top: 30px;
    display: table;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-top: 17px;
  }
}

.message__box {
  z-index: 5;
  pointer-events: none;
  will-change: transform;
  position: absolute;
  left: 0;
  right: 0;
  top: 47%;
  display: none;

  &--jump {
    display: block;
    animation: message_jump 3s linear forwards;
    -webkit-animation: message_jump 3s linear forwards;
  }

  &--body {
    display: table;
    padding: 0;
    background-image: none;
    margin: 0 auto;

    &::after,
    &::before {
      background-image: url(/Content/images/bg_blackGradient_Y.png);
      content: '';
      width: 100%;
      height: 2px;
      display: block;
      visibility: initial;
      background-repeat: repeat-y;
      background-position: center;
      background-size: 100% auto;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
    }
  }

  &--text {
    padding: 5px 100px;
    display: table;
    background-image: url(/Content/images/bg_blackGradient.png);
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100%;
    color: #ffd200;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
}

@keyframes message_jump {
  0% {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
  }
  10% {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
  }
  15% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
  95% {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
  }
}
