.wrapper {
  position: absolute;
  top: 226px;
  right: 257px;
  width: 103px;
  height: 103px;
  z-index: 2;
  will-change: transform;
  display: block;
}

.countDNum {
  position: absolute;
  width: 103px;
  height: 103px;
  line-height: 103px;
  text-align: center;
  font-size: 40px;
  font-family: Arial;
  font-weight: bold;
  color: #fff;
}

.icon_message_line {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 103px;
  height: 103px;
  background-image: url(/Content/images/icon_message_line.png);
  animation: 1.5s linear 0s normal none infinite rotate;
  -webkit-animation: 1.5s linear 0s normal none infinite rotate;
}

.sec10 .icon_message_line {
  background-image: url(/Content/images/icon_message_line_red.png);
}

.sec10 .countDNum {
  color: #f00;
}

.loadingImg {
  width: 103px;
  height: 103px;
  background-image: url(/Content/images/icon_message_start.png);
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.wrapper-control {
  position: absolute;
  top: 79%;
  right: 46%;
  z-index: 2;
  will-change: transform;
  display: flex;

  &__box {
    width: 48px;
    height: 44px;
    margin: 0 10px;
    position: relative;

    &--bg {
      position: absolute;
      top: 0;
      left: 0px;
      right: 0px;
      bottom: 0;
      background: url(/Content/images/vn/json/bettingButtons.png) no-repeat;
      background-size: 226%;
      background-position: -49px -274px;
      margin: 0 0px 0 0;
    }
  }

  &__item {
    position: absolute;
    top: 5px;
    left: 8px;
    right: 0px;
    bottom: 0px;
    background: url(/Content/images/vn/json/bettingButtons.png) no-repeat;
    width: 60%;
    height: 70%;
    /* margin-right: 8px; */
    background-size: 330%;
    z-index: 20;
  }

  &__rollback {
    background-position: -66px -30px;
  }

  &__swapper {
    background-position: -62px -125px;
    background-size: 340%;
  }

  &__check {
    background-position: -66px -59px;
  }
}
