.wrapper {
  border-right: 1px solid #3a3a3a;
  border-left: 1px solid #3a3a3a;
  height: 166px;
  // width: 273px;
}

.CD_dataInput {
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0;
  width: 273px;
  height: 124px;
}

.table__body {
  // height: 100%;
}

.table__tr {
  // height: 16.6667%;
  // width: 100%;
}

.table__td {
  background-color: #484848;
  border-right: 1px solid #535353;
  border-bottom: 1px solid #535353;
  height: 18px;
  width: 19px;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.CD_red_T,
.CD_blue_T {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  font-size: 15px;
}

.CD_red_T {
  color: #ee4238;
}

.CD_blue_T {
  color: #3377f2;
}

.CD_linkBox {
  position: static;
  width: 100%;
  height: 100%;
  display: block;
}

.CD_dataInput_CT {
  border-top: 1px solid #3a3a3a;
  background-color: #2a2a2a;
  font-size: 22px;
  height: 39px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: #007eff;
  line-height: 39px;

  &--box {
    margin: 0 auto;
    width: fit-content;
  }

  & td {
    margin-left: 10px;
  }

  & .red_t {
    color: #ff5b5b;
  }

  & .gray_t2 {
    color: #707070;
  }

  & .blue_t3 {
    color: #3377f2;
  }
}
